.feature-card{
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.feature-card h2{
    font-size:40px;
}

.feature-card h3{
    margin:15px 0;
}