.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 60px;
    background:white;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#2563eb;
}

.nav-links{
    display:flex;
    gap:30px;
}

.nav-links a{
    color:#333;
    font-weight:500;
}

.nav-links a:hover,
.nav-links .active{
    color:#2563eb;
}

.login-btn{
    padding:10px 20px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:5px;
}