.features-section,
.courses-section{
    width:90%;
    margin:50px auto;
}

.features-grid,
.courses-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.features-section h2,
.courses-section h2{
    margin-bottom:25px;
}
.categories-section,
.benefits-section,
.testimonial-section{
    width:90%;
    margin:50px auto;
}
.courses-page{

    width:90%;

    margin:50px auto;

}

.courses-page input{

    width:350px;

    padding:12px;

    margin:20px 0;

}

.faq-section{

    width:90%;

    margin:50px auto;

}
.about-page,
.team-section,
.timeline,
.contact-page{

    width:90%;

    margin:50px auto;

}

.contact-page form{

    display:flex;

    flex-direction:column;

    gap:15px;

}

.contact-page input,
.contact-page select,
.contact-page textarea{

    padding:12px;

}

.contact-page button{

    padding:12px;

    background:#2563eb;

    color:white;

    border:none;

}